---
import BaseHead from "../components/SEO.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Post from "../components/Posts.astro";
import { SITE_TITLE } from "../config";
import { log } from "astro/dist/core/logger/core";
import { atom } from "nanostores";

import { PrismaClient } from '@prisma/client'
const prisma = new PrismaClient()

const getPosts = () => prisma.post.findMany()
---

    <html lang="en">
      <head>
        <BaseHead
          title={`${SITE_TITLE} microblog`}
          description="Small posts on what I usually do"
        />
      </head>
      <body>
        <Header />
        <main>
          <h1 class="pb-6">Microblog</h1>
          <section class="flex flex-col gap-y-1.5">
              {
                getPosts().then((posts) => {
                  return posts.map((post) => {
                    return <Post timestamp={time_since(post.createdAt)}>{post.text}</Post>
                  })
                })
              }
          </section>
        </main>
        <Footer />
      </body>
    </html>