---
---

<hr class="border-t-2 border-t-neutral-700 mt-24" />

<footer class="p-4 text-neutral-400 text-center">

  <p class="text-neutral-400">
    &copy; {new Date().getFullYear()} Designed by <a href="https://nexxel.dev">nexxel</a>. Modified by Rithul Kamesh.
  </p>
</footer>