---

---

<div class="border-solid border-2 border-n-red rounded-md mt-12 p-3">
    <div class="pt-4 px-5">
        <div class="text-xl font-bold">Subscribe to my newsletter</div>
        <p>
            Get emails from me about tech, fun and just to have a good laugh.
          </p>
          <form class="relative my-4">
            <input
              aria-label="Your cool"
              placeholder="hi@rithul.dev"
              type="email"
              autocomplete="email"
              required
              class="px-4 py-2 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full border-gray-300 rounded-md pr-32"
            />
            <button
            class="flex items-center justify-center absolute right-1 top-1 px-4 font-medium h-9 bg-n-red  text-white rounded w-28 text-center"
              type="submit"
            >
                Subscribe
            </button>
            </form>
    </div>
</div>